<section class="app-wrapper">
  <div class="app-block">
    <div class="app-block-title">
      <h3><i class="lnr lnr-pencil"></i> Editando evento</h3>
    </div>
    <div class="app-block-content">

      <%= render 'form', event: @event %>

    </div>
  </div>
</section>
