<section class="app-wrapper">

  <div class="app-block">
    <div class="app-block-title">
      <h3>
        <i class="lnr lnr-flag"></i> Eventos
      </h3>

      <%= link_to 'Editar', edit_event_path(@event) if user_signed_in? && current_user.company == @event.company %>
    </div>

    <div class="app-block-content">

      <p>
        <% if @event.description.present? %>
          <%= @event.description %>
        <% else %>
          Sem descrição
        <% end %>
      </p>

      <p>
        <strong>Data de início:</strong>
        <%= @event.start_date.strftime('%d/%m/%Y - %H:%M') %>
      </p>

      <p>
        <strong>Data de término:</strong>
        <%= @event.end_date.strftime('%d/%m/%Y - %H:%M') %>
      </p>

    </div>
  </div>
</section>
